<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <main>
        <div class="form-border">
            <h2>Login</h2>
            <form action="#" method="post">
                {% with error = get_flashed_messages() %}
                {% if error %}
                    <label for="usernameId">Username</label>
                    <input type="usernameId" name="username" class="input-field error-input" id="usernameId" value="{{username}}" maxlength="50">
                    <label for="passwordId">Password</label>
                    <input type="password" name="password" class="input-field error-input" id="passwordId" maxlength="50">
                    <div class="error-label error-text">Username or Password incorrect!</div>
                {% else %}
                    <label for="usernameId">Username</label>
                    <input type="usernameId" name="username" class="input-field" id="usernameId" maxlength="50">
                    <label for="passwordId">Password</label>
                    <input type="password" name="password" class="input-field" id="passwordId" maxlength="50">
                {% endif %}
                {% endwith %}
                <input type="submit" class="input-button" value="Login">
            </form>
        </div>
    </main>
    
</body>
</html>